@import "../../../style/vars.scss";

.date{
    background-color:$color-one;
    text-align: center;
    &__show{
        padding: 8px 0px 8px 0px;
        font-size: 12px;
        color: #fff;
    }
}