@import '../../style/vars';
.header{
    border-bottom: 1px solid #EAEAEA;
    margin: 0px 0px 20px 0px;
}

.header__content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
.header-wrapper{
    display: flex;
    align-items:center;
}
.header__btn{
    display: none;
    margin: 0px 30px 0px 0px;
    button{
       width: 30px;
       height: 20px;
       border-top: 3px solid #000;  
       border-bottom: 3px solid #000;
       position: relative;
       background: #fff;
    }
    button::before{
        content: '';
        width: 30px;
        height: 3px;
        top: 40%;
        left: 0;
        position: absolute;
        background: #000;
     }
}
.logo{
    font-size: 25px;
}
.nav{
    ul {
        margin: 0px 50px 0px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
        font-size: $fz-menu;
       
    }
    &__link{
            padding: 10px;
            color: $color-basic;
        }
        .active{
            color: $color-two;
        }
}
.auth-content{
    display: flex;
    gap: 25px;
    align-items:center;
}
.auth-btn{
    padding: 8px 18px ;
    font-size: $fz-menu;
    border-radius: 5px;
}
.sign-up{
    
    border: 1px solid $color-one;
    background: $color-one;
    color: $color-thre;
}
@media(max-width: 740px){
    .header__btn{
        display: block;
    }
    .nav{
        display: none;
    }
 
    .menu-btn__wraper{  
            display: flex;
            justify-content: flex-end;
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
}
